body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.full-width{
  width: 100%;
}
.full-height {
  height: 100vh;
}

/* FLEX */
.flex { display: flex;}
.horizontal {flex-direction: row ;}
.vertical{ flex-direction: column;}

.flex-1 { flex: 1;}
.flex-2 { flex: 2;}
.flex-3 { flex: 3;}

.flex-center, .flex-end, .flex-start { align-items: center; }

.flex-start { justify-content: flex-start; }
.flex-end{ justify-content: flex-end; }
.flex-center{ justify-content: center; }